{% extends 'AzhuroPageBundle::layout.html.twig' %}

{% block container %}
    <h1>Page</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>Metatitle</th>
                <td>{{ page.metaTitle }}</td>
            </tr>
            <tr>
                <th>Metadescription</th>
                <td>{{ page.metaDescription }}</td>
            </tr>
            <tr>
                <th>Metakeywords</th>
                <td>{{ page.metaKeywords }}</td>
            </tr>
            {#<tr>#}
                {#<th>Stylesheet</th>#}
                {#<td>{{ page.stylesheet }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Javascript</th>#}
                {#<td>{{ page.javascript }}</td>#}
            {#</tr>#}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('azhuro_page_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('azhuro_page_index', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
